.error{
    border: 1px solid red;
}
.errorMessage{
    color: coral;
}
.ActiveButton{
    color: #e864ed;
    background: #2b9b52;
}

.completed{
    color: #8380a0;
    opacity: 0.5;
}
.title{
    display: flex;
    font-size: 20px;
}